<div class="home-container">
  <div class="split-layout">
    <!-- 3 columns -->
    <div class="column col-1" style="background-image: url('images/home/img-9.jpg')"></div>
    <div class="column col-2" style="background-image: url('images/home/img-rap.jpg')"></div>
    <div class="column col-3" style="background-image: url('images/home/img-11.jpg')"></div>
    
    <!-- Central action button overlay -->
    <div class="central-overlay-button">
      <a routerLink="/create" class="search-bar-btn">
        <span class="search-text">CRÉER VOTRE PREMIÈRE VIDÉO</span>
        <span class="search-btn-inner">START /</span>
      </a>
    </div>
  </div>
</div>
